<div data-role="page">

  <div data-role="header">
    <h1>Transporter</h1>
  </div><!-- /header -->

  <div data-role="content">
    <%= @route.route_name  %><br/>
    <%= @route.operator  %><br/>
    <% @route.stops.each do |s|  %>
    <%= s.common_name %>
    <%= s.longitude.to_s %>
    <%= s.latitude.to_s %>
    <%= s.code %><br/>

    <% end %>


  </div><!-- /content -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
    <div data-role="navbar">
      <ul>
	<li><a href="/homes/index">Routes</a></li>
	<li><a href="/homes/local_map">Local</a></li>
	<li><a href="/homes/find_route"  class="ui-btn-active ui-state-persist">A to B</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /page -->
</div>
